@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
}

.list__card {
    text-align: center;
    width: 26%;
    height: 60vh;
    margin: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.card_img-container {
    height: 90%;
    width: 100%;
}

.card__img {
    height: 100%;
    width: 100%;
}

.card__img--behind {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.card__img--front {
    position: relative;
    height: 100%;
    width: 100%;
}

.card__img--front:hover {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 7;
}

.card__img--front:hover + .card__img--behind {
    display: block;
}

.card__title {
    font-size: 16px;
    margin: 8px;
    font-family: 'Ruda', sans-serif;
}

.card__price {
    font-size: 13px;
    margin: 4px;
    font-family: 'Ruda', sans-serif;
}

