.container {
    display: flex;
    font-family: "Century Gothic", sans-serif;
    font-size: 12px;
    margin-inline: 20%;
    margin-top: 4%;
    justify-content: space-between;
}

.leftContainer {
    display: flex;
}

.backButton {
    padding: 0;
    border: 0;
    font-family: "Century Gothic", sans-serif;
    cursor: pointer;
    background-color: white;
    font-size: 12px;
}

.nameOfItem {
    color: #666666;
}

.rightContainer {
    display: flex;
}

.navLeftText {
    padding: 0 4px;
}

.navRightText {
    padding: 0 4px;
}

.arrowImg {
    height: fit-content;
    margin:auto;
}

.leftButton {
    display: flex;
    cursor: pointer;
}

.rightButton {
    display: flex;
    cursor: pointer;
}
